#corpoFundo {
    background-color: rgb(53, 50, 50);
    color: aliceblue;
    margin: 0;
    padding: 0;
}

/* pesquisar sobre o Jetbrains para utilizar em fontes*/
.topoFlex {
    display: flex;
    background-color: black;
}

.linkSemEstilo {
    list-style: none;
    text-decoration: none;
    color: inherit;
    padding: 30px;
    font-size: 1rem;

}




