#corpoFundo {
    background-color: rgb(53, 50, 50);
    color: aliceblue;
}
/* pesquisar sobre o Jetbrains para utilizar em fontes*/
.tirarEstiloLink  a {

    list-style: none;
    text-decoration: none;
    display: flex;
background-color: black;
color: inherit;
    outline: none;
    margin-left: 2rem;
}
